<div class="card text-center">
  <div class="card-header">
    New List
  </div>
  <div class="card-body">
    <%= render "form", list: @list %>
  </div>
  <div class="card-footer text-muted">
    <p></p>
  </div>
</div>
