<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
  <% if @list.photo.attached? %>
    <%= cl_image_path @list.photo.key, width: 400, height: 300, crop: :fill %>
  <% end %>
  <div class="container">
    <h1>Movies!!!</h1>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<% @list.photo.key %>)">
        <h2> <%= link_to list.name, list_path(list), class: "card-link" %> </h2>
      </div>
    <% end %>
  </div>
  <%= render "form", list: @list %>
</div>
