<%= render "shared/navbar" %>
<%= render "shared/banner" %>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category d-flex justify-content-start align-items-start" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/app/assets/images/something.jpg')">
        <h2 class="m-3"> <%= link_to list.name, list_path(list), class: "card-link" %> </h2>
      </div>
    <% end %>
  </div>
</div>
<%#= list.photo.attached? ? (cl_image_path list.photo.key, height: 400, crop: :fill) : ""%>
