<%= render "shared/navbar" %>
<%= render "shared/banner"%>
<div class="mt-5 w-100 d-flex justify-content-center" style="background-color: grey">
  <div class="m-4">
    <%= render "card" %>
  </div>
</div>
