<div class="card-trip">
  <%= image_tag bookmark.photo %>
  <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @bookmark.name %></h2>
    </div>
    <h2 class="card-trip-pricing"><%= @bookmark.name %></h2>
  </div>
</div>
