<div class="banner" style="display: flex; background-image: url('https://preview.redd.it/this-transient-life-1970-v0-jxp1w77hflrd1.jpeg?width=1080&crop=smart&auto=webp&s=3e06db5289527a3452ea27ee54ff2b627f2669be')">
  <div class="container">
    <h1>My Japanese Film Library</h1>
  </div>
</div>
