.card-category {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(200, 193, 193);
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(200, 193, 193);
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.card {
  // display: flex;
  // justify-content: center;
  align-items: center;
  // top: 50%;
  // left: 40%;
  // transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .8s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(50%);/*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;/*100%*/
  height: 100%;
  background: #6d605d;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #383535;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: #de1919;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #f8f5f5;
}
.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}

.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
}
.card .details .center ul li a:hover {
  background: #ff3636;
}

.card-link {
  color: black;

  &:hover {
    color: white;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
  justify-content: space-between;
  padding: 24px 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
